body {
    background-color: blanchedalmond;
    margin: 0;
}
ul h1, h2, h3, p {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
.container {
    margin: 0 auto;
    width: 1200px;
}
/* header */
header {
    background-color: rgb(221, 103, 82);
    padding: 10px 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 120px;
}

.header-list {
    display: flex;
    gap: 50px;
}

.header-link {
    font-size: 24px;
    font-weight: 700;
    color: white;
}
 
/* Головна секція */
.hero {
    padding: 50px 0;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.hero-img {
    width: 550px;
}
.hero-title {
    font-size: 48px;
    color: rgb(113, 27, 12);
    font-weight: 700;
    margin-bottom: 48px;
}
.hero-text {
    font-size: 22px;
}
/* Ітгрідієнти для тіста  */
.dough {
    background-color: rgb(255, 167, 123);
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
}
.dough-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.dough-title {
    font-size: 33px;
    color: rgb(113, 27, 12);
    font-weight: 700;
    margin-bottom: 33px;
    padding-bottom: 15px;
    margin-top: 28px;
}
.dough-text {
    font-size: 22px;
}
.dough-item {
    font-size: 22px;
    list-style: disc;
}
.dough-img {
    width: 500px;
}
.dough-list {
    margin-left: 50px;
}

/* Начинка */
.filling {
    padding: 50px 0;
}
.filling-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.filling-img {
    width: 550px;
}
.filling-title {
    font-size: 48px;
     color: rgb(113, 27, 12);
     font-weight: 700;
     margin-bottom: 48px;
}
.filling-text {
    font-size: 22px;
}
.filling-item {
    font-size: 22px;
}
/* Інгрідієнти моєї улюбленної піцци */
.ingredients {
    background-color: rgb(255, 167, 123);
}
.ingredients-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.ingredients-title {
    font-size: 48px;
    color: rgb(113, 27, 12);
    font-weight: 700;
    margin-bottom: 48px;
}
.ingredients-text {
    font-size: x-large;
}
.ingredients-item {
    font-size: 22px;
}
.ingredients-img {
    width: 550px;
}
/* Footer */
.footer {
    background-color: rgb(216, 113, 95);
    padding: 10px 0;
    padding-top: 20px;
    margin: 0;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-list {
    display: flex;
    gap: 50px;
}
.footer-img{
    display: flex;
    font-size: 20px;
    font-weight: 700;
    margin: 0;
}
.footer-text {
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
}

